:root {
  --keycloak-card-top-color: #14b8a6;
}

#kc-recovery-codes-list {
  columns: 2;
}

#certificate_subjectDN {
  overflow-wrap: break-word;
}

#kc-verify-email-form {
  margin-top: 24px;
  margin-bottom: 24px;
}

#kc-code pre code {
  word-break: break-all;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}